@model Vaccinator.ViewModels.VaccinationFormViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.Heading = "Add New Details";
}

<!-- New vaccine details entry form-->
<div class="container p-3">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <!-- section heading -->
                <div class="container pt-4">
                    <h4 class="font-weight-bold">Fill Details</h4>
                    <hr />
                </div>

                <!-- form container -->
                <div class="container pt-2 pb-5 px-4">
                    <!-- Special note -->
                    <div class="alert @(Model.Message != null ? "alert-success" : "alert-primary")">
                        @if (Model.Message != null)
                        {
                        <p class="h6">
                            <span><b>Success: </b></span>
                            @Model.Message
                        </p>
                        }
                        else
                        {
                            <p class="h6">
                                <span><b>Note: </b></span>
                                <span>All <span class="text-danger">*</span> fields are mandatory</span>
                            </p>
                        }
                    </div>
                    <!-- Entry form -->
                    @using (Html.BeginForm("Save", "Vaccination", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.EmpVaccinationDetails.Id)

                        <!-- Employee name-->
                        <div class="form-group row mb-4">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.Name, "Employee's name", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.EmpVaccinationDetails.Name,
                                new { type = "text", @class = "form-control", placeholder = "Enter name" })

                                @Html.ValidationMessageFor(m => m.EmpVaccinationDetails.Name)
                            </div>
                        </div>

                        <!-- Employee age-->
                        <div class="form-group row mb-4">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.Age, "Employee's age", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.EmpVaccinationDetails.Age, new { type = "text", @class = "form-control", placeholder = "Enter age" })
                                @Html.ValidationMessageFor(m => m.EmpVaccinationDetails.Age)
                            </div>
                        </div>

                        <!-- Employee gender -->
                        <div class="form-group row mb-4">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.Gender, "Gender", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.RadioButtonFor(m => m.EmpVaccinationDetails.Gender, "Male")<span class="ml-1 mr-2">Male</span>
                                @Html.RadioButtonFor(m => m.EmpVaccinationDetails.Gender, "Female")<span class="ml-1 mr-2">Female</span>
                                <div>
                                    @Html.ValidationMessageFor(m => m.EmpVaccinationDetails.Gender)
                                </div>
                            </div>
                        </div>

                        <!-- Vaccine type -->
                        <div class="from-group row mb-4 ">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.VaccineMfg, "Vaccine manufaturer", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.EmpVaccinationDetails.VaccineMfg, new List<SelectListItem>() {
                                    new SelectListItem(){ Text = "Bharat Biotech - covaxin", Value="covaxin"},
                                    new SelectListItem(){ Text = "Serum Institute Of India - covishield", Value="covishield"},
                                }, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmpVaccinationDetails.VaccineMfg)
                            </div>
                        </div>

                        <!-- Vaccine description -->
                        <div class="form-group row mb-4">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.VaccineDescription, "Description", new { @class = "font-weight-bold" })
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(m => m.EmpVaccinationDetails.VaccineDescription, new { @class = "form-control", rows = "3", placeholder = "vaccine description .." })
                            </div>
                        </div>

                        <!--Tcs / Non TCS -->
                        <div class="form-group row mb-4">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.VaccineLocation, "Tcs/Non-Tcs", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.RadioButtonFor(m => m.EmpVaccinationDetails.VaccineLocation, "tcs")<span class="ml-1 mr-2">Tcs</span>
                                @Html.RadioButtonFor(m => m.EmpVaccinationDetails.VaccineLocation, "non_tcs")<span class="ml -1 mr-2">Non-Tcs</span>
                                <div>@Html.ValidationMessageFor(m => m.EmpVaccinationDetails.VaccineLocation)</div>
                            </div>
                        </div>

                        <!-- Cowin ID -->
                        <div class="form-group row mb-5">
                            <div class="col-sm-4">
                                @Html.LabelFor(m => m.EmpVaccinationDetails.CowinId, "Cowin Id", new { @class = "font-weight-bold" })
                                <span class="text-danger h6">*</span>
                            </div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.EmpVaccinationDetails.CowinId, new { type = "text", @class = "form-control", placeholder = "Enter cowin id" })
                                @Html.ValidationMessageFor(m => m.EmpVaccinationDetails.CowinId)
                            </div>
                        </div>

                        <!-- Button group -->
                        <div class="container d-flex align-items-center justify-content-center mt-4">
                            <button type="submit" class="submit-btn mr-3">Submit</button>
                            <button type="reset" class="clear-btn">Clear</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Local stylesheet -->
<style>
    .card {
        border: none;
    }

    .card-body {
        padding: 10px 50px;
    }

        .card-body > .container {
            box-shadow: 0 1px 10px #ededed;
        }

    .submit-btn, .clear-btn {
        border: none;
        font-family: 'Quicksand', sans-serif;
        border-radius: 0;
        padding: 8px 30px;
        box-shadow: 3px 3px 3px #D1D5DB;
        transition: all .3s;
    }

        .submit-btn:active,
        .clear-btn:active {
            box-shadow: none;
            outline: none;
        }

    .submit-btn {
        background: #4F46E5;
        color: #fff;
    }

    .clear-btn {
        border: 1px solid #4F46E5;
        background: #fff;
        color: #4F46E5;
    }

        .clear-btn:hover {
            color: #fff;
            background: #4F46E5;
            text-shadow: none;
        }

    .submit-btn:hover {
        background: #4F46E5;
        color: #fff;
    }

    .form-control:focus {
        box-shadow: none;
        border: 1px solid #4F46E5;
    }
</style>

